altair==5.1.2
clock_plot==0.2.1
cmap==0.1.2
ipython==8.16.1
matplotlib==3.8.0
numpy==1.23.4
pandas==1.5.1
plotly==5.18.0
pulp==2.7.0
scikit_learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
statsmodels==0.14.0
